@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
  --primary: #0e265d;
  --secondary: #ca2171 ;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Flex", Arial, sans-serif;
}

h2{
  font-size: 3rem;
}

/* Estrutura geral */
body {
  background-color: var(--white);
}

/* Cada seção */
.section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: clamp(40px, 6vw, 100px) clamp(20px, 8vw, 140px);
}

/* Alternância de cores */
.section.primary {
  background-color: var(--primary);
  color: var(--white);
}

.section.white {
  background-color: var(--white);
  color: var(--black);
}

/* Conteúdo interno */
.content {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Centralização especial da primeira sessão */
.content.center {
  align-items: center;
  text-align: center;
}

/* Foto */
.content img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid var(--white);
  object-fit: cover;
}

/* Contato */
.contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact p {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}
.contact a{
    color: var(--white);
    text-decoration: 2px underline var(--secondary);
}
.content i{
    font-size: 22px;
}

/* Blocos */
.block {
  margin-top: 10px;
}

/* Listas */
ul {
  margin-left: 20px;
}

ul li::marker {
  color: var(--secondary);
}
